<!-- CONTACT -->
<aside id="contact">
	<article class="global-bg">
		<h2>contact</h2>
		<hr />
		<div class="container">
			<form method="POST" action>
				<div class="row">
					<div class="inputBox" id="name">
						<input type="text" name="name" id="inname" required />
						<label for="inname">Nom</label>
						<p class="error"></p>
					</div>
					<div class="inputBox" id="fName">
						<input type="text" name="fName" id="infname" required />
						<label for="infname">Prénom</label>
						<p class="error"></p>
					</div>
				</div><div class="row">
					<div class="inputBox" id="mail">
						<input type="email" name="mail" id="inmail" required />
						<label for="inmail">Email</label>
						<p class="error"></p>
					</div>
					<div class="inputBox" id="phone">
						<input type="tel" name="phone" id="inphone" required />
						<label for="inphone">Téléphone</label>
						<p class="error"></p>
					</div>
				</div>
				<div class="inputBox" id="msg">
					<textarea name="msg" id="inmsg" required></textarea>
					<label for="inmsg">Message</label>
					<p class="error"></p>
				</div>
				<input type="submit" value="envoyer" />
				<p class="ty">Votre message a bien été envoyé. Merci de m'avoir contacter :)</p>
			</form>
		</div>
	</article>
</aside>
