<!-- HEAD -->
<head>
	<meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="image" content="https://floriancardinal.000webhostapp.com/assets/img/avatar.jpg">
	<meta name="description" content="Florian Cardinal - Junior Web Developer [Full Stack]">
	<meta name="keyword" content="florian cardinal, florian, cardinal, cv, webcv, web developer, web, developer">
	<!-- Twitter meta description -->
	<meta name="twitter:image:src" content="https://floriancardinal.000webhostapp.com/assets/img/avatar.jpg">
	<meta name="twitter:title" content="Florian Cardinal - Web Developer">
	<meta name="twitter:description" content="CARDINAL Florian - Junior Web Developer [Full Stack]">
	<!-- Open Graph descripton -->
	<meta property="og:image" content="https://floriancardinal.000webhostapp.com/assets/img/avatar.jpg">
	<meta property="og:site_name" content="Mon Web CV">
	<meta property="og:type" content="profile">
	<meta property="og:title" content="Florian Cardinal - Web Developer">
	<meta property="og:url" content="https://floriancardinal.000webhostapp.com/">
	<meta property="og:description" content="Florian Cardinal - Junior Web Developer [Full Stack]">
	<meta property="profile:username" content="Florian Cardinal">
	<base href="/">
	<title>Hello :)</title>
	<link rel="icon" type="image/gif" href="/assets/img/favicon.gif" />
	<link rel="stylesheet" type="text/css" href="/styles/font-awesome/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/styles/fonts.css" />
	<link rel="stylesheet" type="text/css" href="/styles/main.css" />
	<link rel="stylesheet" type="text/css" href="/styles/animation.css" />
	<link rel="stylesheet" type="text/css" href="/styles/responsive.css" />
	<script language="javascript" type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/scripts/particles.min.js"></script>
	<script language="javascript" type="text/javascript" src="/scripts/anim.js"></script>
	<script language="javascript" type="text/javascript" src="/scripts/tools.js"></script>
	<script language="javascript" type="text/javascript" src="/scripts/credit.js"></script>
	<script language="javascript" type="text/javascript" src="/scripts/main.js"></script>
</head>
