<!-- HEAD -->
<head>
	<meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="image" content="https://floriancardinal.000webhostapp.com/assets/img/avatar.jpg">
	<meta name="description" content="Florian Cardinal - Junior Web Developer [Full Stack]">
	<meta name="keyword" content="florian cardinal, florian, cardinal, cv, webcv, web developer, web, developer, resume">
	<meta name="robots" content="index, follow">
	<!-- Twitter meta description -->
	<meta name="twitter:image:src" content="https://floriancardinal.000webhostapp.com/assets/img/avatar.jpg">
	<meta name="twitter:site" content="@MyCv">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Florian Cardinal - Junior Web Developer [Full Stack]">
	<meta name="twitter:description" content="Mon site web portfolio personnel">
	<!-- Open Graph descripton -->
	<meta property="og:image" content="https://floriancardinal.000webhostapp.com/assets/img/avatar.jpg">
	<meta property="og:site_name" content="Mon Web CV">
	<meta property="og:type" content="profile">
	<meta property="og:title" content="Florian Cardinal - Junior Web Developer [Full Stack]">
	<meta property="og:url" content="https://floriancardinal.000webhostapp.com/">
	<meta property="og:description" content="Mon site web portfolio personnel">
	<meta property="profile:username" content="Florian Cardinal">
	<base href="/">
	<title>Hello :)</title>
	<link rel="icon" type="image/gif" href="/assets/img/favicon.gif" />
	<link id="theme" rel="stylesheet" type="text/css" href="/styles/theme/light.css" />
	<link rel="stylesheet" type="text/css" href="/styles/main.css" />
	<script language="JavaScript" type="text/javascript" src="/scripts/particles.min.js"></script>
	<script language="javascript" type="module" src="/scripts/main.js"></script>
</head>
