<!-- HEAD -->
<head>
	<meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Web CV by CARDINAL Florian - Junior Web Developer [Full Stack] {Html5/Css3, Js, PhP7, MySQL, Python}">
	<base href="/">
	<title>Hello :)</title>
	<link rel="icon" type="image/gif" href="/pics/favicon.gif" />
	<link rel="stylesheet" type="text/css" href="/styles/font-awesome/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/styles/main.css" />
	<link rel="stylesheet" type="text/css" href="/styles/animation.css" />
	<link rel="stylesheet" type="text/css" href="/styles/responsive.css" />
	<script language="javascript" type="text/javascript" src="/scripts/jquery-3.3.1.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/scripts/particles.min.js"></script>
	<script language="javascript" type="text/javascript" src="/scripts/main.js"></script>
</head>
