/**
 * Auteur : CARDINAL Florian
 * Date   : 18/03/2020 19:40
 * Page   : responsive.css
 */

@media(max-width: 720px) {
	nav {
		overflow: auto !important;
		max-height: 100% !important;
		padding-left: 0 !important;
		position: fixed !important;
	}

	nav #time {
		font-size: 150% !important;
		right: 0 !important;
	}

	nav div { display: block !important; }

	nav ul {
		display: none;
		padding-left: 0 !important;
		position: relative !important;
	}

	nav ul li { display: block !important; }
	nav ul ul {
		box-shadow: none !important;
		position: relative !important;
	}

	header div { display: none !important; }

	aside hr {
		margin: 1.5em 4em !important;
		margin-bottom: 4.5em !important;
		max-width: 100% !important;
	}

	#skills .container { padding: 0 !important; }
	#skills .row {
		display: block !important;
		width: 100% !important;
	}

	#xp ul { padding: 30px 10px !important; }
	#xp ul::before { left: 30px !important; }

	#xp ul > li { border-radius: 0 10px 10px 0 !important; }
	#xp ul > li, #xp ul > li.inverted {
		margin-left: 20px !important;
		margin-right: 0 !important;
	}

	#xp ul > li #badge { left: 30px !important; }

	#grad .container { padding: 0 !important; }
	#grad .frame {
		display: block !important;
		margin: 25px auto !important;
		width: auto !important;
		max-width: 375px !important;
	}

	#portfolio div { padding: 0 !important; }
	#portfolio h3 { padding-top: 3em !important; }
	#portfolio div ul { text-align: center !important; }
	#portfolio div ul li { margin: 4px !important; }
	#portfolio div ul li a {
		margin: 0 !important;
		max-height: 14.5em !important;
		max-width: 14.5em !important;
	}

	#contact .container { margin: 0 !important; }
	#contact .row { width: 100% !important; }
	#contact .inputBox { margin-top: 0 !important; }
	#contact input[type=submit] { width: 90% !important; }
}

/**
 * END
 */
