/**
 * Auteur : CARDINAL Florian
 * Date   : 18/03/2020 19:40
 * Page   : responsive.css
 */

@media(max-width: 720px) {
	nav {
		overflow: auto;
		max-height: 100%;
		padding-left: 0;
		position: fixed;
	}

	nav #time {
		font-size: 150%;
		right: 0;
	}

	nav div { display: block; }

	nav ul {
		display: none;
		padding-left: 0;
		position: relative;
	}

	nav ul li { display: block; }
	nav ul ul {
		box-shadow: none;
		position: relative;
	}

	header div { display: none; }

	aside hr {
		margin: 1.5em 4em;
		margin-bottom: 4.5em;
		max-width: 100%;
	}

	#skills .container { padding: 0; }
	#skills .row {
		display: block;
		width: 100%;
	}

	#xp ul { padding: 30px 10px; }
	#xp ul::before { left: 30px; }

	#xp ul > li { border-radius: 0 10px 10px 0; }
	#xp ul > li, #xp ul > li.inverted {
		margin-left: 20px;
		margin-right: 0;
	}

	#xp ul > li #badge { left: 30px; }

	#grad .container { padding: 0; }
	#grad .frame {
		display: block;
		margin: 25px auto;
		width: auto;
		max-width: 375px;
	}

	#portfolio div { padding: 0; }
	#portfolio h3 { padding-top: 3em; }
	#portfolio div ul { text-align: center; }
	#portfolio div ul li { margin: 4px; }
	#portfolio div ul li a {
		margin: 0;
		max-height: 14.5em;
		max-width: 14.5em;
	}

	#contact .container { margin: 0; }
	#contact .row { width: 100%; }
	#contact .inputBox { margin-top: 0; }
	#contact input[type=submit] { width: 90%; }
}

/**
 * END
 */
